<?xml version="1.0" encoding="utf-8"?>
<TransportConfigurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <TransportConfiguration xsi:type="UdpConfiguration">
    <Name>send</Name>
    <Port>0</Port>
    <RemoteHostName>128.40.31.112</RemoteHostName>
    <RemotePort>501</RemotePort>
  </TransportConfiguration>
</TransportConfigurationSettings>